{# templates/client/wishlist/_mini_wishlist.html.twig #}
{% if wishlist_count > 0 %}
    <span class="badge bg-danger text-white rounded-pill position-absolute top-0 start-100 translate-middle">
        {{ wishlist_count }}
    </span>
{% endif %}